/* ProblemSection.css */

.problem-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

/* Banner */
.problem-banner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 15px;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #131B30 0%, #161F39 100%);
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: #918383;
    position: absolute;
    width: 171px;
    height: 34px;
    left: 50%;
}

.problem-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
    color: #F0F0F0;
    margin: 10px 0;
    position: absolute;
    width: 624px;
    height: 114px;
    left: 50%;
    top: 100px;
}

.problem-description {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #FFFFFF;
    margin: 10px 0;
    position: absolute;
    width: 708px;
    height: 161px;
    left: 50%;
    /* transform: translateX(-50%); */
    top: 260px;
}

.problem-list {
    list-style-type: disc;
    padding-left: 20px;
    color: #FFFFFF;
    position: absolute;
    width: 708px;
    left: 50%;
    top: 360px;
}

.problem-list-item {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem; /* Responsive font size */
    line-height: 1.5rem;
    margin: 5px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .problem-banner {
        font-size: 1.25rem;
        line-height: 2rem;
        width: 90%;
        left: 2%;
        transform: translateX(0%);
        top: 300px;
    }

    .problem-title {
        font-size: 1.5rem; /* Adjusted for smaller screens */
        line-height: 2rem; /* Adjusted for smaller screens */
        width: 90%;
        left: 5%;
        transform: translateX(0%);
        top: 380px;
    }

    .problem-description {
        font-size: 0.875rem; /* Adjusted for smaller screens */
        line-height: 1.25rem; /* Adjusted for smaller screens */
        width: 90%;
        left: 5%;
        transform: translateX(0%);
        top: 540px;
    }

    .problem-list {
        padding-left: 10px;
        width: 90%;
        left: 5%;
        transform: translateX(0%);
        top: 660px;
    }

    .problem-list-item {
        font-size: 0.875rem; /* Adjusted for smaller screens */
        line-height: 1.25rem; /* Adjusted for smaller screens */
    }
}
