/* Header.css */
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5vh 0; /* Adjusted padding for responsiveness */
    gap: 20px;
    position: absolute;
    width: 30vw; /* Responsive width */
    height: 90vh; /* Responsive height */
    left: 5vw; /* Adjusted left positioning for responsiveness */
    top: 5vh;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.sidebar-title h1 {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 3vw; /* Responsive font size */
    line-height: 1.2;
    background: linear-gradient(91.36deg, #C9C8F8 0.67%, #F7E8E8 28.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.sidebar-logo img {
    width: 100%; /* Responsive image sizing */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 40px;
}

.sidebar-nav a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.5vw; /* Responsive font size */
    line-height: 30px;
    text-decoration-line: underline;
    color: #FFCBCB;
    display: block; /* Make links block to fill width */
    width: 100%;
    margin-bottom: 20px; /* Add space between links */

}

@media (max-width: 768px) {
    .sidebar {
        width: 80vw; /* Wider sidebar on smaller screens */
        left: 10vw; /* Centering the sidebar more */
        padding-top: 10vh; /* More padding on top for smaller screens */
    }

    .sidebar-title h1 {
        font-size: 5vw; /* Larger font size for better readability on small devices */
    }

    .sidebar-nav a {
        display: none;
        font-size: 4vw; /* Larger font size for better readability on small devices */
    }
}

@media (max-width: 480px) {
    .sidebar {
        width: 100vw; /* Full-width sidebar on very small devices */
        left: 0;
        top: 0;
        height: auto; /* Auto height for flexibility */
    }

    .sidebar-title h1 {
        font-size: 6vw; /* Even larger font size for very small devices */
    }

    .sidebar-nav a {
        font-size: 5vw; /* Adjusting for very small screens */
    }

    .sidebar-logo img {
        width: 50%; /* Adjusted image size for very small devices */
        height: auto; /* Maintain aspect ratio */
        margin: 0 auto; /* Center the logo */
    }
}
