body {
  background-color: black;
}

.header {
  width: 250px;
  height: 70px;
  margin-top: 3%;
  margin-left: 3%;
}

.sections {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 200px;
}