hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    width: 80%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-inline: auto;
    margin-top: -100px;
}

.left_text{
    font-family: Poppins;
    text-align: left;   
    color: #ffffff;
    & p.title{
        color: #3946C1;
        font-size: clamp(15px, 3vw, 20px);
        font-weight: 700;
    }
    & p.emails{
        margin-top: -10px;
        color: #B1ADAD;
        font-size: clamp(8px, 2vw, 12px);
        font-weight: 700;
    }
}

.right_text {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Poppins;
    font-weight: 600;
    color: #ffffff;
    gap: 1rem;
    font-size: clamp(10px, 2vw, 15px);
    & button {
        width: 73px;
        height: 33px;
    }
}