  .hero {
    display: flex;
    flex-direction: row;
    min-height: 70vh;
    max-width: 1280px;
    min-width: 348px;
    align-items: center;
    gap: 5rem;
    margin-inline: auto;
    & img {
      height: clamp(380px, 90vw, 600px);
      margin-left: clamp(-440px, -800px + 45vw, -200px);
      z-index: 1;
    }
  }

  @media only screen and (max-width: 800px) {
    .hero img {
      opacity: 0.5;
    }
  }
  
  .hero-text {
    z-index: 2;
    max-width: 560px;
    display: flex;
    flex-direction: column;
    & p {
      font-family: Poppins;
      font-size: clamp(35px, 7vw, 50px);
      font-weight: 600;
      text-align: left;
      color: #FFFCFC;
    }
    & .text2 {
      height: 22%;
      margin-top: -30px;
    }
    & .line1 {
      display: flex;
      align-items: center;
      & .words {
        height: clamp(50px, 7.5vw, 60px);
        margin-right: 10px;
        & span {
          font-family: Poppins;
          font-size: clamp(35px, 7vw, 50px);
          font-weight: 600;
          text-align: left;
          background: -webkit-linear-gradient(249.88deg, #8A32D0 8.25%, #9A95CD 93.16%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          display: block;
          animation: spin_words 6s infinite;
        }
        overflow: hidden;
      }
    }
    & .subheading {
      width: 73%;
      height: 25%;
      font-family: Poppins;
      font-size: 20px;
      font-weight: 500;
      text-align: left;
      color: #DBCACA;
      margin-top: -4%;
    }
    & button {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 97px;
      height: 47px;
      padding: 0px;
      border-radius: 8px;
      background-color: #7BEAE3;
      border-color: #7BEAE3;
      font-family: Poppins;
      font-size: 15px;
      font-weight: 500;
    }
  }
  
  @keyframes spin_words{
    20%{
        transform: translateY(-112%);
    }
    45%{
        transform: translateY(-100%);
    }
    70%{
        transform: translateY(-212%);
    }
    100%{
        transform: translateY(0%);
    }
  }