.HowItWorks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
}

.Wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    max-width: 950px;
    margin-left: 50px;
    & img {
        z-index: 1;
        margin-left: clamp(-500px, -500px + 45vw, 0px);
    }
}

@media only screen and (max-width: 1000px) {
    .Wrapper img {
      opacity: 0.5;
    }
  }

@media only screen and (hover:hover){
    .Step:hover {
        & p{
            color: white;
        }
        & hr.solid {
            border-color: white;
        }
    }    
    .Step p {
        color: #858585;
        transition-duration: 0.6s;
    }
    .Step hr.solid {
        transition-duration: 1s;
        width: 100%;
        border-top: 1px solid #858585;
        border-color: #858585;
    }
}

@media only screen and (hover:none){
    .Step p {
        color: white;
    }
    .Step hr.solid {
        width: 100%;
        border-top: 1px solid white;
        border-color: white;
    }
}

.Steps {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
}

.Step {
    z-index: 2;
    display: flex;
    flex-direction: column;
    font-family: Poppins;
    text-align: left;   
    font-weight: 300;
    & .title {
        font-size: clamp(20px, 1.4vw, 30px);
    }
    & .descript {
        margin-top: -5px;
        font-size: clamp(15px, 0.7vw, 25px);
    }
}


