.sectionHeader {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sectionTitle {
    max-width: 200px;
    padding: 0.4% 4% 0.4% 4%;
    border-radius: 30px;
    background: linear-gradient(90deg, #131B30 0%, #161F39 100%);
    font-family: 'Poppins';
    font-size: clamp(12px, 1.4vw, 22px);
    font-weight: 300;
    letter-spacing: 0.15em;
    text-align: center;
    color: #918383;
}

.sectionHeadline {
    margin-top: -10px;
    font-family: Poppins;
    font-size: clamp(30px, 3vw, 50px);
    font-weight: 600;
    text-align: left;
    text-decoration: underline;
    background: -webkit-linear-gradient(91.36deg, #C9C8F8 0%, #F7E8E8 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sectionDescription {
    margin-top: -20px;
    font-family: Poppins;
    font-size: clamp(15px, 1.4vw, 25px);
    font-weight: 300;
    text-align: center;
    color: #E0D1D1;
    width: 60%;
    height: 20%;
    gap: 0px;
    opacity: 0px;
}